<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Archmedia Project{% endblock %}</title>
    </head>
    <body>
        <h1>{% block header %}Archmedia Project{% endblock %}</h1>
        {% block body %} {% endblock %}
    </body>
</html>
